<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cr.dao.resultMap.ResultMapMapper">

    <resultMap id="ResultMap1" type="User">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <result column="company_id" property="company.companyId"/>
        <result column="company_name" property="company.companyName"/>
    </resultMap>
    <select id="selectUser1" resultMap="ResultMap1">
        select user_id, name, nick_name, u.company_id as company_id, company_name
        from user as u
        inner join company as c on u.company_id = c.company_id
        where user_id = #{userId}
    </select>

    <resultMap id="ResultMap2" type="User">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <association property="company" javaType="Company">
            <id column="company_id" property="companyId"/>
            <result column="company_name" property="companyName"/>
        </association>
    </resultMap>
    <select id="selectUser2" resultMap="ResultMap2">
        select user_id, name, nick_name, u.company_id as company_id, company_name
        from user as u
        inner join company as c on u.company_id = c.company_id
        where user_id = #{userId}
    </select>

    <resultMap id="ResultMap3" type="User">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <association property="company"
                     select="com.cr.dao.resultMap.CompanyMapper.selectCompanyById"
                     column="company_id"/>
    </resultMap>
    <select id="selectUser3" resultMap="ResultMap3">
        select * from user where user_id = #{userId}
    </select>

    <resultMap id="ResultMap4" type="Company">
        <id column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <collection property="users" ofType="User">
            <id column="user_id" property="userId"/>
            <result column="name" property="name"/>
            <result column="nick_name" property="nickName"/>
        </collection>
    </resultMap>
    <select id="selectCompany1" resultMap="ResultMap4">
        select c.company_id, company_name, user_id, name, nick_name
        from company as c
        inner join user u on c.company_id = u.company_id
        where c.company_id = #{companyId}
    </select>

    <resultMap id="ResultMap5" type="Company">
        <id column="company_id" property="companyId"/>
        <result column="company_name" property="companyName"/>
        <collection property="users"
                    select="com.cr.dao.resultMap.UserMapper.selectUsersByCompanyId"
                    column="company_id"/>
    </resultMap>
    <select id="selectCompany2" resultMap="ResultMap5">
        select * from company where company_id = #{companyId}
    </select>

</mapper>