<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cr.dao.param.SingleParamMapper">

    <!-- 简单:#{任意名字} -->
    <select id="selectUserById" resultType="User">
        select * from user where user_id = #{userId}
    </select>

    <!-- 对象:#{属性名字} -->
    <select id="selectUserByUser" resultType="User">
        select * from user where user_id = #{userId}
    </select>

    <!-- Map:#{key} -->
    <select id="selectUserByMap" resultType="User">
        select * from user where user_id = #{userId}
    </select>

    <!-- List:#{collection|list}  -->
    <select id="selectUserByIds" resultType="User">
        select * from user where user_id = #{list[0]}
    </select>

</mapper>